{% extends "lower_base.html" %}




{% block contant %}

<div class="contact_con">

    <div class="heade"><h3>📞 Contact Us – Shop Me</h3></div>

    <div class="contact_containt">
        <p>We’d love to hear from you! At Shop Me, your satisfaction is our top priority. Whether you have a question about our products, an issue with your order, or just want to share your feedback, our team is always ready to help.

            You can reach out to us through email, phone, or social media. Our friendly customer support team is available 24/7 to ensure that your shopping experience is smooth and enjoyable.
            
            📱 Phone: +91 8510064239
            📧 Email: support@shopme.com
            
            🏢 Address: Shop Me Headquarters, New Delhi, India
            
            We aim to respond to all queries as quickly as possible. If you’ve placed an order, you can track its status easily through your account dashboard.
            
            At Shop Me, we value every customer and strive to make your online shopping experience convenient, secure, and satisfying. Don’t hesitate to contact us — we’re here to assist you anytime!</p>
    </div>

</div>






{% endblock  %}