{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP ME - Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="login_wrapper">

        <div class="login_box">
            <h2 class="logo">SHOP ME</h2>

            <form method="post">
                {% csrf_token %}
                
                <label>Name</label>
                <input type="text" name="Name" placeholder="Enter Username" required>

                <label>Password</label>
                <input type="password" name="Password" placeholder="Enter Password" required>

                <button type="submit" class="login_btn">LOGIN</button>

                <p class="signup_text">New user? <a href="{% url 'Register' %}">Signup</a></p>
            </form>
        </div>

    </div>

    {% for message in messages %}
    <script>alert("{{ message }}");</script>
    {% endfor %}

</body>
</html>
