<footer>
    <div class="footer-contaner">
        <div class="footer-box">
            <h3>About Us</h3>
            <p><i class="fa-solid fa-map-pin" style="color: #ec2913;"></i>We provide the best quality products at affordable prices.</p>
        </div>
        <div class="footer-box">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url 'HOME' %}"><i class="fa-solid fa-house"></i> HOME</a></li>
                <li><a href="{% url 'service' %}"><i class="fa-solid fa-cart-shopping fa-flip-horizontal"></i> SERVICE</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa-solid fa-square-phone"></i> CONTACT</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h3>CONTACT</h3>
            <p><i class="fa-solid fa-globe"></i> Email: SHOP@ME.com</p>
            <p><i class="fa-solid fa-phone"></i> Phone: +91 8510064239</p>
        </div>
    </div>
    <div class="social-icon">
        <a href="#"><i class="fa-brands fa-facebook" style="color: #0d5de7;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color: #f599ca;"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp" style="color: #63E6BE;"></i></a>
    </div>
    <div class="copyright">
       <p> © 2025 <span>SHOP ME</span> | All Rights Reserved</p>
       <p>Sk_Thakur</p>
    </div>

</footer>
</body>
</html>