{% extends "lower_base.html" %}
{% block contant %}

        <form action="{% url 'update_quantity' item.id %}" method="POST">    
            {% csrf_token %}
            
            <input type="number" name="quantity" min="1" 
                value="{{ item.quantity }}" class="form-control w-50 mx-auto">

            <select name="size" class="form-control w-50 mx-auto mt-2">
                <option value="{{ item.size }}" selected>{{ item.size }}</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="ALL">ALL</option>
            </select>

            <button type="submit" class="btn btn-warning btn-sm mt-2">🔄 Update</button>
        </form>
{% endblock  %}