/* 
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color:  rgb(192, 245, 245);
    
    
}
.contenar{
     max-width: 100%;
     width: 500px;
     border: 1px solid black;
     margin: auto;
     margin-top: 40px;
     padding: 20px;
     align-items: center;
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     background-color: aliceblue;
     box-shadow: 2px 2px black;
    
}
img{
    width: 90%;
    height: auto;
    border: 2px solid black;
    margin: 10px 0;
    display: block;
}
form.form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.BACK{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: self-start;

}
form input[type="file"],
form input[type="submit"]{
    margin: 10px 0;
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.message{
    font-size: 22px;
    margin: 10px 0;
}
img{
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin: 10px 0;
}
#DELETE{
    text-decoration: none;
    list-style: none;
    border: 1px solid black;
    background-color:black;
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px black ;
}
#DELETE:hover{
    font-size: 18px;
    box-shadow: 5px 5px red ;

}
@media (max-width:768px){
    .contenar{
        width: 95%;
        font-size: 16px;
    }
    form input[type="file"],
    form input[type="submit"]{
        width: 90%;
        font-size: 16px;
    }
    #DELETE{
        width: 90%;
        text-align: center;
    }
    body{
        background-color: rgb(216, 243, 185);
    }
} */
