
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: url('/static/css/image/ENJOY YOUR SHOPING.png') no-repeat center center/cover ;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(3px);
    
}


.login_wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
    

}


.login_box {
    width: 100%;
    max-width: 380px;
    padding: 30px;
    background:transparent;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    animation: slideUp 0.8s ease;
}


.logo {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}


label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


input {
    width: 94%;
    padding: 10px;
    border: 2px solid #222;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
    background: transparent;
}


.login_btn {
    width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.login_btn:hover {
    background: yellow;
    color: #000;
}


.signup_text {
    text-align: center;
    margin-top: 10px;
}

.signup_text a {
    font-weight: bold;
}




@keyframes slideUp {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ================= RESPONSIVE ================ */


@media (max-width: 767px) {
    .login_wrapper {
        flex-direction: column;
        padding: 15px;
        
    }

    .login_image img {
        max-width: 300px;
    }
    .login_box{
        width: 80%;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .login_wrapper {
        flex-direction: column;
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .login_wrapper {
        gap: 25px;
    }
}


@media (min-width: 1441px) {
    .login_box {
        max-width: 420px;
    }
}
