*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    background: url('/static/css/image/ENJOY YOUR SHOPING.png') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    animation: fadeInBg 1.5s ease-in-out;
}


.container_box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup_box{
    width: 95%;
    max-width: 340px;
    padding: 28px;
    border-radius: 18px;

    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(8px);

    border: 2px solid rgba(255,255,255,0.4);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);

    animation: slideUp 0.7s ease;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}


.signup_box input{
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;

    border: none;
    outline: none;

    background: rgba(255,255,255,0.6);
    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;
}


.signup_box button{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;

    background: black;
    color: white;

    border-radius: 8px;

    transition: 0.3s ease;
}

.signup_box button:hover{
    background: yellow;
    color: black;
    transform: scale(1.06);
    cursor: pointer;
}


@keyframes slideUp {
    from { transform: translateY(40px); opacity:0; }
    to { transform: translateY(0); opacity:1; }
}

@keyframes fadeInBg {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media(max-width:767px){
    .signup_box{
        max-width: 320px;
        padding: 22px;
    }
}


@media(min-width:768px) and (max-width:1023px){
    .signup_box{
        max-width: 380px;
    }
}


@media(min-width:1024px) and (max-width:1440px){
    .signup_box{
        max-width: 420px;
    }
}


@media(min-width:1441px){
    .signup_box{
        max-width: 500px;
        padding: 40px;
    }
}
